# Datasets 
dataset_original/
dataset_preprocesado/
*.wav
*.mp3

# Modelos y Pesos
models/saved_weights/
*.pth
*.pt
*.h5

# Entornos y temporales de Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.venv/
usar_pytorch/
usar_gpu_env/

# Archivos de SO
.DS_Store
Thumbs.db